.container {
  display: block;
  margin-left: 50px;
  padding: 20px;
  margin-bottom: 50px;

}

.btn {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px; 
}


input {
  display: block;
  text-align: center; 
}
.content{
  text-align: justify;
}